.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

footer {
    bottom: 20px;
    right: 20px;
    position: fixed;
    float: right;
}

.template {
    color: #47a3da;
}

button {
    background: #47a3da;
    color: #fff;
    border: none;
    font-size: 1.1em;
    width: 100px;
    height: 35px;
    margin: 10px;
}

button:hover {
    color: #0d77b6;
}

h3 {
    font-size: 1.3em;
}

.template label {
    float: left;
}

.template input {
    padding: 5px;
    border: none;
}

li a {
    padding: 20px;
}

.submenu {
    height: 0;
    padding: 0;
    margin: 0;
    width: 0;
}

.submenu li a {
    padding: 12px;
    width: 175px;
}