.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

footer {
    bottom: 20px;
    right: 20px;
    position: fixed;
    float: right;
}

.template {
    color: #47a3da;
}

button {
    background: #47a3da;
    color: #fff;
    border: none;
    font-size: 1.2em;
    width: 100px;
    height: 40px;
    margin: 10px;
}

button:hover {
    color: #0d77b6;
}

h3 {
    font-size: 1.6em;
}

.template label {
    float: left;
}

.template input {
    padding: 5px;
}